.tag {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px 10px;
    color: #eb3c05;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    margin-right: 5vw;
  }
  
  .tag:hover {
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
  }
  